  
  h1 {
    text-align: center;
  }
  
  .coder {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .details {
    display: none;
    margin-top: 10px;
  }
  
  .coder:hover .details {
    display: block;
  }
  
